<div class="teaching">
  {% capture teaching_content %}
    {% include_relative teaching.md %}
  {% endcapture %}
  {% assign teaching_content = teaching_content | split: "---" | last %}
  {{ teaching_content | markdownify }}
</div>
